<div class="text-image">
    <div class="content"><h2>Name: {{games?.name}}</h2></div>
    <div class="content" [innerHtml]="games?.description"></div>
    <div class="content">Platforms:</div>
    <div class="content" *ngFor="let platform of games?.platforms">{{platform.platform.name}}</div>
    <div class="tournaments">
        <h2>Tournaments</h2>
        <div *ngIf="loading" class="loader-container"><span class="loader"></span></div>
        <div class="tournament-container">
            <div class="tournament-info">
                <ul class="pagination" *ngIf="tournaments">
                    <li (click)="getTeams(false)" class="prev link link--arrowed-inverse" >
                        <svg class="arrow-icon arrow-rotate" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <g fill="none" stroke="#FF7D66FF" stroke-width="1.5" stroke-linejoin="round"
                               stroke-miterlimit="10">
                                <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                                <path class="arrow-icon--arrow"
                                      d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                            </g>
                        </svg>
                        prev
                    </li>
                    <li (click)="getTeams(true)" class="next link link--arrowed">next
                        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <g fill="none" stroke="#FF7D66FF" stroke-width="1.5" stroke-linejoin="round"
                               stroke-miterlimit="10">
                                <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                                <path class="arrow-icon--arrow"
                                      d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                            </g>
                        </svg>
                    </li>
                </ul>
                <ul *ngIf="tournaments">
                    <li [hidden]="loading" *ngFor="let tournament of tournaments" (click)="changeInfo(tournament.matches)">
                        <div>League: {{tournament.league.name}}</div>
                        <div>Start Date: {{tournament.begin_at | date: 'medium'}}</div>
                        <div>End Date: {{tournament.end_at  | date: 'medium'}}</div>
                    </li>
                </ul>
                <ul class="pagination" *ngIf="tournaments">
                    <li (click)="getTeams(false)" class="prev link link--arrowed-inverse" >
                        <svg class="arrow-icon arrow-rotate" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <g fill="none" stroke="#FF7D66FF" stroke-width="1.5" stroke-linejoin="round"
                               stroke-miterlimit="10">
                                <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                                <path class="arrow-icon--arrow"
                                      d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                            </g>
                        </svg>
                        prev
                    </li>
                    <li (click)="getTeams(true)" class="next link link--arrowed">next
                        <svg class="arrow-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                             viewBox="0 0 32 32">
                            <g fill="none" stroke="#FF7D66FF" stroke-width="1.5" stroke-linejoin="round"
                               stroke-miterlimit="10">
                                <circle class="arrow-icon--circle" cx="16" cy="16" r="15.12"></circle>
                                <path class="arrow-icon--arrow"
                                      d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98"></path>
                            </g>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="infoCaledar-match" *ngIf="infoCaledar">
                <div *ngFor="let match of infoCaledar" class="match">
                    <div>{{match.name}}</div>
                    <div>Best of: {{match.number_of_games}}</div>
                    <div>Scheduled at: {{match.scheduled_at}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="keen-slider" #sliderRef>
    <div class="keen-slider__slide" [ngClass]="'number-slide'+i" *ngFor="let imageBg of gamesImages; index as i">
        <div class="game-container">
            <img class="game-container-image" [src]="imageBg.image" alt="">
        </div>
    </div>
</div>
