<div class="toolbar">
  <ul class="menu">
    <li routerLink="" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">Home</li>
    <li class="calendar" routerLinkActive="is-active" >Calendar
        <ul class="submenu">
            <li routerLink="/calendar/valorant" routerLinkActive="is-active">Valorant</li>
            <li routerLink="/calendar/call-of-duty" routerLinkActive="is-active">Call of duty</li>
            <li routerLink="/calendar/lol" routerLinkActive="is-active">League of legends</li>
            <li routerLink="/calendar/fifa" routerLinkActive="is-active">Fifa</li>
        </ul>
    </li>
    <li>Admin</li>
  </ul>
</div>
